<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Usuarios</h3>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="text-center">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
